{% if turnos_form.turnos.field.queryset %}
<form id="turnos-form" method="POST">
    {% csrf_token %}
    <table id="table-turnos" class="table text-center table-bordered" style="width:100%">
        <thead class="persian-green">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Medico</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            {% for turno in turnos_form.turnos %}
            <tr>
                {% for t_info in turnos_form.turnos_informacion %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <td>{{ t_info.fecha.date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ t_info.fecha.time }}</td>
                        <td>{{ t_info.medico }}</td>
                    {% endif %}  
                {% endfor %}
                <td><span class="reserva-radio-button">{{ turno.tag }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
    <!-- Button trigger modal -->
        <button id="boton-reservar" type="submit" class="btn btn-persian-green px-4 py-2">
            RESERVAR
        </button>
    </div>
</form>
{% else %}
<h4>No se han encontrado turnos para la especialidad</h4>
{% endif %}