{% extends 'main_layout.html' %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}Editar Usuario{% endblock title %}
    </head>
    <body>
        {% block content %}
        {% include "main_navbar.html" %}
        <h2>Editar Usuario</h2>
        <form>
            <div class="form-group">
                <label for="first_name">Nombre</label>
                <input type="text" class="form-control" id="first_name" placeholder="Nombre*">
            </div>            
            <button class="btn btn-primary btn-lg" type="submit">Actualizar</button>   
        </form>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ perfil_form.as_p }}
            <button type="submit">Actualizar</button>
        </form>
        {% endblock content %}
    </body>
</html>