{% extends "recepcionista/recepcionista_layout.html" %}
{% load widget_tweaks %}
{% block title %}Gestionar Turnos{% endblock %}
{% block content %}

<h1>Gestión de Turnos</h1>
<h4>Paciente: {{ paciente.user.last_name }} {{ paciente.user.first_name }} </h4>
<h4>Turnos del Paciente:</h4>
    <table class="table table-borderless">
        <thead class="thead">
            <tr>
                <th>Nro Turno</th>
                <th>Especialidad</th>
                <th>Medico</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Opcion #1</th>
                <th>Opcion #2</th>
                <th>Opcion #3</th>
            </tr>
        </thead>
        <tbody>
            {% for turno in turnos %}
            <tr>
                <td>{{ turno.pk }}</td>
                <td>{{ turno.medico.especialidad }}</td>
                <td>{{ turno.medico }}</td>
                <td>{{ turno.fecha.date }}</td>
                <td>{{ turno.fecha.time }}</td>
                <td><a href="{% url 'imprimir-reserva' paciente.user.pk turno.pk %}" class="btn btn-info">Imprimir</a href=""></td>
                <td><button type="button" class="btn btn-success">Confirmar</button></td>
                <td><button type="button" class="btn btn-danger">Cancelar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}