{% extends "recepcionista/recepcionista_layout.html" %}
{% load widget_tweaks %}

{% block title %}Registrar Paciente{% endblock title %}
{% block css %}
    .snps-inline-select {
        width: auto;
        margin-left:10px;
        display: inline-block;
    }
{% endblock %}
{% block content %}
    <div class="container shadow bg-white rounded p-5">
        <h2 class="text-primary">Registrar Paciente</h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'info' %}
                <div class="alert-success">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>                    
                {% elif message.level_tag == 'warning' %}
                <div class="alert-danger">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>           
                {% endif %}
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <h4 class="text-success">Datos de Usuario</h4>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nombre de Usuario</label>
                {% render_field form.username class="form-control" placeholder="Ingrese un nombre de usuario" %}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label}}">Contraseña</label>
                {% render_field form.password1 class="form-control" placeholder="Ingrese la contraseña" %}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña</label>
                {% render_field form.password2 class="form-control" placeholder="Confirmar constraseña" %}
            </div>
            <h4 class="text-success">Datos de Perfil</h4>
            <div class="form-row">
                <div class="form-group col">
                    <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                    {% render_field form.first_name class="form-control" placeholder="Nombre" %}
                </div>
                <div class="form-group col">
                    <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                    {% render_field form.last_name class="form-control" placeholder="Apellido" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="{{ form.documento.id_for_label }}">Documento</label>
                    {% render_field form.documento class="form-control" placeholder="Documento" %}
                </div>
                <div class="form-group col">
                    <label for="{{ form.domicilio.id_for_label }}">Domicilio</label>
                    {% render_field form.domicilio class="form-control" placeholder="Domicilio" %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="{{ form.telefono.id_for_label }}">Telefono</label>
                    {% render_field form.telefono class="form-control" placeholder="Telefono" %}
                </div>
                <div class="form-group col">
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    {% render_field form.email class="form-control" placeholder="Correo electrónico" %}
                </div>
            </div>
            <div class="form-group">
                <label for="id_nacimiento_day">Nacimiento</label>
                {% render_field form.nacimiento class="form-control snps-inline-select" placeholder="Nombre de Usuario" %}
            </div>
            <fieldset class="form-group">
                <label for="{{ form.genero.id_for_label }}">Genero</label>
                {% for genero in form.genero %}
                <div class="form-check">
                    <span class="form-check-input">{{ genero.tag }}</span> 
                    <label class="form-check-label" for="{{ genero.id_for_label }}">{{ genero.choice_label }}</label>
                </div>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <label for="{{ form.obra_social.id_for_label }}">Obra Social</label>
                {{ form.obra_social|add_class:"form-control" }}
            </div>
            <button class="btn btn-info" type="submit">Registrar</button>
        </form>
    </div>
{% endblock content %}