{% extends "recepcionista/recepcionista_layout.html" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Registrar Paciente{% endblock title %}
{% block css %}
    .snps-inline-select {
        width: auto;
        margin-left:10px;
        display: inline-block;
    }
{% endblock %}
{% block content %}
    <div class="container shadow bg-white rounded p-5">
        <h2 class="text-primary">Registrar Paciente</h2>
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'info' %}
                <div class="alert-success">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>                    
                {% elif message.level_tag == 'warning' %}
                <div class="alert-danger">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>           
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-info" type="submit">Registrar</button>
        </form>
    </div>
{% endblock content %}