{% extends "main_layout.html" %}
{% load widget_tweaks %}
{% block title %}Login Paciente{% endblock %}
{% block importlinks %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="container">
    <h2>Paciente Login</h2>
    <form method="POST" action="{% url 'login-paciente' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ auth_form.username.id_for_label }}">Usuario</label>            
            {{ auth_form.username | add_class:'form-control' }}
        </div>
        <div class="form-group">
            <label for="{{ auth_form.password.id_for_label }}">Contraseña</label> 
            {{ auth_form.password | add_class:'form-control' }}
        </div>
        {% if error_message %}
            <p class="text-warning">{{ error_message }}</p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
