{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "css/bootstrap4/bootstrap-yeti.min.css" %}" rel="stylesheet">
        <link href="{% static "css/custom-navbar.css" %}" rel="stylesheet">
        <title>{% block title %}Home{% endblock %}</title>
        <style>{% block custom_css %}{% endblock custom_css %}</style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg main-navbar">
        <a class="navbar-brand" href="#">
        <img src="{% static "icons/dna.png"%}" width="50" height="50" />
            Sistema de Gestión de Turnos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app_informacion:home' %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
            </ul>
        </div>    
        </nav> 
        {% block content %}
        {% endblock content %}
    </body>
</html>