{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "css/bootstrap4/bootstrap-materia.css" %}" rel="stylesheet" />
        <link href="{% static "css/bootstrap4/bootstrap-materia.min.css" %}" rel="stylesheet" />
        <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap4/bootstrap.min.js" %}"></script>
        <link href="{% static "css/main_navbar.css" %}" rel="stylesheet" />
        <title>{% block title %}Home{% endblock %}</title>
        <style>{% block custom_css %}{% endblock custom_css %}</style>
    </head>
    <body>
        <nav class="navbar bg-transparent navbar-expand-lg navbar-expand-md p-1">
        <span class="navbar-brand" href="#">
        <img src="{% static "images/logo-brand.png"%}" height="50px"/>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app_informacion:home' %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQs</a>
                </li>
                {% if user.is_authenticated %}
                <!-- acá debería ir el logo de rol y las opciones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="{% static "images/nav-user2.png" %}" height="20px"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'app_usuarios:perfil-paciente' %}">Mi Perfil</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </div>
                  </li>
                  {% endif %}                
            </ul>
        </div>    
        </nav> 
        {% block content %}
        {% endblock content %}
    </body>
</html>