{% extends "main_layout.html" %}
{% block title %}Login Paciente{% endblock %}
{% block css %}
    
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Recepcionista Login</h2>
        <form method="POST" action="{% url 'loguear-usuario' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div> 
            <input type="hidden" name="rol" value="recepcionista" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}



