{% extends 'main_navbar.html' %}

{% block title %}Informacion Paciente{% endblock title %}

{% block content %}
<h2>Informacion de {{ object.username }}</h2>
<p>Nombre {{ object.first_name }}</p>
<p>Apellido {{ object.last_name }}</p>
<p>Documento {{ object.documento }}</p>
<p>Domicilio {{ object.domicilio }}</p>
<p>Telefono {{ object.telefono }}</p>
<p>Nacimiento {{ object.nacimiento }}</p>
<p>Obra Social {{ object.paciente.obra_social }}</p>
<p>Genero {{ object.genero }}</p>
{% endblock content %}