{% extends "main_layout.html" %}
{% load static %}
    {% block content %}
    {% include "main_navbar.html" %}
    <div class="container-fluid">
        <h1>Reservar Turno</h1>
        <div class="row main-row">
            <div class="col-md-3">
                <form>
                    <div class="form-group row">
                        <div class="col">
                            <label for="Especialidad">Escoja una especialidad</label>
                            <select class="form-control">
                                <option selected disabled>Especialidad</option>
                                <option></option>
                                <option>Mago</option>
                                <option>Guerrero</option>
                                <option>Tanque</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-lg">Buscar</button>
                        </div>
                    </div>
                </form>
                </div>
            <div class="col-md-9">
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>Especialidad</th>
                            <th>Médico</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Clínico</td>
                            <td>Jorge</td>
                            <td>04/05/1997</td>
                            <td>14:00</td>
                            
                        </tr>
                        <tr>
                            <td>Cardiólogo</td>
                            <td>Pedro</td>
                            <td>06/10/1995</td>
                            <td>13:00</td>
                        </tr>
                    </tbody>
                </table>
           </div>
        </div>
    </div>
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        });
    </script>
   
    {% endblock content %}    