{% extends 'base_header.html' %}
<meta http-equiv="refresh" content="30" />

{% block title %} Seleccionar Turno {% endblock title %}

{% block content %}
    <h2>Seleccionar turno a Atender Turno</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Atender</button>
    </form>
{% endblock content %}

{% block javascript %}
    <script>
        // Acá tengo que detectar si hay cambios en los turnos confirmados O
        // refreshear la pestaña cada X segundos
        // function update(){
        //     $.get("response.php", function(data) {
        //         $("#some_div").html(data);
        //         window.setTimeout(update, 10000);
        //     });
        // }
    </script>
{% endblock %}