{% extends 'main_navbar.html' %}
<meta http-equiv="refresh" content="30" />

{% block title %} {{ accion }} Turno {% endblock title %}

{% block javascript %}
    <script>
        // Acá tengo que detectar si hay cambios en los turnos confirmados O
        // refreshear la pestaña cada X segundos
    </script>
{% endblock %}

{% block content %}
    <h2>{{ accion }} Turno</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ accion }}</button>
    </form>
{% endblock content %}