{% extends 'main_layout.html' %}

{% block title %}Turno{% endblock title %}

{% block content %}
<h2>Informacion del Turno</h2>
<div class="informacion-turno">
    <p>Medico: {{ turno.medico }}</p>
    <p>Fecha: {{ turno.fecha }}</p>
    <p>Estado: {{ turno.estado }}</p>
</div>

{% block javascript %}
<script>
    function cancelar() {
        if (confirm("Desea cancelar el turno?")){
            window.location.replace(" {% url 'app_turnos:cancelar-turno' turno.pk %} ")
        }
    }
</script>
{% endblock %}

{% comment %}<a href="{% url 'app_turnos:cancelar-turno' turno.pk %}">- Cancelar Turno</a>{% endcomment %}
<button onclick="cancelar()">- Cancelar Turno</button>
{% endblock content %}