{% extends 'base_header.html' %}

{% block title %} Listado de Turnos {% endblock title %}

{% block content %}
    <h1>Listado de Turnos</h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Medico</th>
            <th>Paciente</th>
            <th>Estado</th>
        </tr>
        {% for turno in lista_turnos %}
            <tr>
                <td>{{ turno.fecha }}</td>
                <td>{{ turno.medico }}</td>
                {% if turno.paciente == None %}
                    <td>Ninguno</td>
                {% else %}
                    <td>{{ turno.paciente }}</td>
                {% endif %}
                <td>{{ turno.get_estado }}</td>
                {% comment %} Aca va un link a la DetailView del Turno (donde podra imprimir o cancelar dicho turno) {% endcomment %}
                <td><a href="#">Ver</a></td>
            </tr>
        {% endfor %}
    </table>
{% comment %}<button type="submit" onclick="location.href='{% url 'buscar-turnos' %}'">Cancelar Turnos</button>{% endcomment %}
{% endblock content %}