{% extends 'medico/medico_layout.html' %}

{% block title %}Horario Laboral{% endblock title %}

{% block css %}
table.formatHTML5 tr.selected {
    background-color: #0099ff !important;
    color:#fff;
    vertical-align: middle;
    padding: 1.5em;
}
{% endblock %}
{% block content-title %}
Horarios y Días Laborales
{% endblock %}
{% block content-body %}
<!-- Modal -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarLabel">Eliminar Horario Laboral</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <form method="POST" action="/" id="form-eliminar">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" id="btn-eliminar-horario" value="Eliminar">
                            <span id="spinner-eliminando" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>   
                            <span id="btn-eliminar-horario-text">Eliminar</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'info' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>                    
                {% elif message.level_tag == 'warning' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>           
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col">
                {% if horarios_laborales %}
                <table class="formatHTML5 table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                            <th hidden>PK</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in horarios_laborales %}
                        <tr>
                            {% for dia in dias %}
                                {% if dia in horario.dias.all %}
                                <td>
                                    {{horario.hora_inicio}} - 
                                    {{horario.hora_fin}}
                                </td>
                                {% else %}
                                <td>
                                    -
                                    -
                                </td>
                                {% endif %}
                                <td hidden class="horario-pk">{{ horario.pk }}</td>
                            {% endfor %}
                        </tr>   
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="mb-5 mt-3">
                    <h2 class="mb-4">Usted no registra días laborales por el momento.</h2>
                    <p>Puede crearlos presionando el botón de abajo</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="text-center">
                <a href="{% url 'crear-turnos' %}" class="btn btn-primary mx-2">Nuevo Horario Laboral</a>
                <button id="btn-eliminar" type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#modalEliminar">
                    Eliminar Horario Laboral
                </button>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function(){
            const btnEliminar = $("#btn-eliminar");
            btnEliminar.prop("disabled", true);
            let formEliminar =  document.getElementById("form-eliminar") || null;
            let baseUrl = 'http://' + window.location.host + '/';
            let horarioPk;      
            $("tbody tr").click(function () {
                $('.selected').removeClass('selected');
                $(this).addClass("selected");
                horarioPk = $('.horario-pk',this).html();
                console.log("ejecutando...");
                btnEliminar.prop("disabled", false);
                formEliminar.action = baseUrl + 'medico/eliminar-horario/' + horarioPk + '/';
            });
            $("#btn-eliminar-horario").on("click",function(e){
                $("#btn-eliminar-horario-text").html("Eliminando");
                $("#spinner-eliminando").removeClass("d-none");            
            });
        });
    </script>
{% endblock %}