<!-- SIDEBAR DE ADMINISTRADOR -->
<div class="sidebar-sticky">
    <ul class="nav flex-column flex-sm-column">
        <li class="nav-item active"><a class="nav-link" href="{% url 'index-administrador' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-pacientes' %}">Pacientes</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-recepcionistas' %}">Recepcionistas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-medicos' %}">Medicos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-administradores' %}">Administradores</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-especialidades' %}">Especialidades</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu-obras-sociales' %}">Obras Sociales</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'estadisticas' %}">Estadísticas</a></li>
    </ul>
</div>