{% extends 'administrador/administrador_layout.html' %}
{% block title %}Eliminar Usuario{% endblock title %}
{% block content-title %}{% endblock %}
{% block content %}
        <div class="row justify-content-center">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <p>¿Está seguro que quiere eliminar al usuario {{ object.username }}?</p>
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
{% endblock content %}