{% extends 'administrador/administrador_layout.html' %}
{% block title %}Eliminar Obra Social{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Eliminar Obra Social</h2>
        <div class="row justify-content-center">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <p>¿Está seguro que quiere eliminar la obra social {{ object.nombre }}?</p>
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}