{% extends 'administrador/administrador_layout.html' %}

{% block title %}Index Administrador{% endblock title %}

{% block content %}
    <form>
        <div class="form-row">
            <div class="form-group col">
                <label for="id_first_name">Nombre</label>
                <input class="form-control" type="text" value="{{ administrador.first_name }}" disabled=true>
            </div>
            <div class="form-group col">
                <label for="id_last_name">Apellido</label>
                <input class="form-control" type="text" value="{{ administrador.last_name }}" disabled=true>
            </div>    
        </div>
        <div class="form-group">
            <label for="id_username">Nombre de Usuario</label>
            <input class="form-control" type="text" value="{{ administrador.username }}" disabled=true>
        </div>
        <div class="form-group">
            <label for="id_last_login">Última Conexión</label>
            <input class="form-control" type="text" value="{{ administrador.last_login }}" disabled=true>
        </div>
    </form>
{% endblock content %}