{% extends 'administrador/administrador_layout.html' %}
{% block title %} Lista de Recepcionistas {% endblock title %}
{% block import_links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
{% endblock %}
{% block content-title %}Lista de Recepcionistas{% endblock %}
{% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'info' %}
                <div class="alert-success">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>                    
                {% elif message.level_tag == 'warning' %}
                <div class="alert-danger">
                    <ul class="messages">
                        <li>{{ message }}</li>
                    </ul>
                </div>           
                {% endif %}
            {% endfor %}
        {% endif %}
        <p>(Haga doble click en un recepcionista para ver mas información del mismo)</p>
        <table id="table-recepcionistas" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
                {% for recepcionista in lista_recepcionistas %}
                    <tr>
                        <td>{{ recepcionista.id }}</td>                                
                        <td>{{ recepcionista.username }}</td>
                        <td>{{ recepcionista.first_name }}</td>
                        <td>{{ recepcionista.last_name }}</td>
                        <td>{{ recepcionista.documento }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right my-3">
            <a class="btn btn-primary" href="{% url 'registrar-recepcionista' %}">Registrar Recepcionista</a>
        </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            const tabla = $("#table-recepcionistas").DataTable({
                "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });

            // Haciendo doble click en una fila accedo a los datos de ese recepcionista
            $('#table-recepcionistas tbody').on('dblclick', 'tr', function(){
                let recepcionista_id = tabla.row(this).data()[0];
                let base_url = 'http://' + window.location.host + '/';
                let url = base_url  + 'administrador/ver-recepcionista/' + recepcionista_id + '/';
                window.location.replace(url);
            });
        });
    </script>
{% endblock %}