{% extends 'administrador/administrador_layout.html' %}
{% block title %} Lista de Especialidades {% endblock title %}
{% block import_links %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
{% endblock %}
{% block content-title %}Lista de Especialidades{% endblock %}
{% block content %}
        {% if messages %}
            {% for message in messages %}
                {% if message.level_tag == 'info' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>                    
                {% elif message.level_tag == 'warning' %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>     
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmarLabel">Eliminar Especialidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Está seguro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <form method="POST" action="/" id="form-confirmar">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" id="btn-confirmar">Confirmar</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
            <table id="tabla-especialidades" class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Medicos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for especialidad in object_list %}
                        <tr>
                            <td>{{ especialidad.id }}</td>
                            <td>{{ especialidad.nombre }}</td>
                            <td>{{ especialidad.medicos }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="text-right my-3">
            <div class="btn-group">
                <a class="btn btn-primary mx-2" href="{% url 'crear-especialidad' %}">Nueva Especialidad</a>
                <button id="btn-eliminar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmar">
                    Eliminar Especialidad
                </button>
            </div>
        </div>
    {% endblock content %}
    {% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabla-especialidades').DataTable({
                select: {
                    style: 'single'
                },
                "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });
            
            var tabla = $('#tabla-especialidades').DataTable();
            var btn = document.getElementById("btn-eliminar");
            btn.disabled = true;
            var especialidad_id = null;
            var form = document.getElementById("form-confirmar") || null;

            tabla.on('select', function(e, dt, type, indexes){
                if (type === 'row'){
                    especialidad_id = tabla.row({selected: true}).data()[0];
                    btn.disabled = false;
                    form.action = "eliminar-especialidad/" + especialidad_id + "/";
                }
            });

            tabla.on('deselect', function(e, dt, type, indexes){
                if (type === 'row'){
                    especialidad_id = null;
                    btn.disabled = true;
                    form.action = "#";
                }
            });

        });  
    </script>
    {% endblock %}