{% extends "usuarios/recepcionista/recepcionista_layout.html" %}

{% block title %}Index Recepcionista{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Index Recepcionista</h2>
        <form>
            <div class="form-row">
                <div class="form-group col">
                    <label for="id_first_name">Nombre</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group col">
                    <label for="id_last_name">Apellido</label>
                    {{ form.last_name }}
                </div>    
            </div>
            <div class="form-group">
                <label for="id_username">Nombre de Usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_last_login">Última Conexión</label>
                {{ form.last_login }}
            </div>
        </form>
    </div>
{% endblock content %}