{% load static %}
<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <span class="navbar-brand">
        <img src="{% static "images/logo-brand.png"%}" height="50px"/>
    </span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-3x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
    </div>  
</nav>