<!-- SIDEBAR DE RECEPCIONISTA -->
<div class="sidebar-sticky">
    <ul class="nav flex-column flex-sm-column">
        <li class="nav-item active"><a class="nav-link" href="{% url 'app_usuarios:index-recepcionista' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app_turnos:gestionar-turnos' %}">Confirmar Turnos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app_turnos:reservar-turnos' %}">Reservar Turnos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'app_usuarios:registrar-paciente' %}">Registrar Paciente</a></li>
    </ul>
</div>